<div class="card album-card justify-content-center">
    <div class="card-header">
        <img class="card-img img-thumbnail rounded-circle album-card-pfp" src="/static/person.svg" alt="Profile Picture">&nbsp;
        <a class="align-middle profile-link font-weight-semibold" href="/profile?user={{ post.username }}" data-toggle="tooltip" title="See {{ post.username }}'s profile">{{ post.username }}</a>
    </div>
    <div class="card-body">
        <div class="d-md-flex">
            <div class="col-auto">
                <img class="card-img img-thumbnail album-card-img margin-centre" src="{{post.track.artwork}}", alt="Album Cover" >
            </div>
            <div class="col">
                <span class="post-title"><a class="profile-link" href="{{post.track.url}}">{{post.track.title}}</a></span>
                <br>
                <span class="font-weight-bold">{{post.track.album}} &#x2022; {{post.track.artist}}</span>
                <p class="font-weight-light">
                    {{ post.description }}
                </p>
                <div class="badge badge-dark like-count" data-toggle="tooltip" title="Heart this post!">
                    <span id="{{post.post_id}}-count" class="like-count align-middle">{{post.likes}}</span>
                    <button class="btn btn-link" id="{{post.post_id}}" class="btn" type="button" onclick="toggle_liked(this.id)" aria-label="Like this post.">
                        {% if post.user_liked %}
                            <img src="/static/heart-fill.svg" alt="Liked Post Icon">
                        {% else %}
                            <img src="/static/heart.svg" alt="Unliked Post Icon">
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>