<div class="card album-card justify-content-center">
    <div class="card-header">
        <img class="card-img img-thumbnail rounded-circle album-card-pfp" src="/static/person.svg" alt="X">&nbsp;<span class="align-middle">James Kinley</span>
    </div>
    <img class="card-img img-thumbnail d-block album-card-img margin-centre" src="", alt="Album Cover" >
    <div class="card-body">
        <h5>Money - 2011 Remaster</h5>
        <h6 class="font-weight-bold">Dark Side of the Moon &#x2022; Pink Floyd</h6>
        <p class="font-weight-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dicta harum porro blanditiis accusantium odio cumque quaerat sit non fuga deserunt, numquam nostrum laboriosam eveniet quibusdam quisquam atque quidem id.
        </p>
    </div>
</div>
<br>