<div class="card album-card justify-content-center">
    <div class="card-header">
        <img class="card-img img-thumbnail rounded-circle album-card-pfp" src="/static/person.svg" alt="X">&nbsp;<span class="align-middle">James Kinley</span>
    </div>
    <div class="card-body">
        <div class="d-md-flex">
            <img class="card-img img-thumbnail album-card-img margin-centre" src="{{post.artwork}}", alt="Album Cover" >
            <div class="d-block">
                <h5>{{post.title}}</h5>
                <h6 class="font-weight-bold">{{post.album}} &#x2022; {{post.artist}}</h6>
                <p class="font-weight-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio corporis repellat id quam deleniti, ut est tempore a commodi assumenda, repellendus iusto sapiente laboriosam obcaecati modi accusamus possimus eius voluptates!
                </p>
                <button class="btn btn-link" id="like-btn" class="btn" type="button" onclick="toggle_liked('#like-btn')">
                    <img src="/static/heart.svg">
                </button>
            </div>
        </div>
    </div>
</div>
<br>