{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <nav class="navbar navbar-light navbar-expand-sm px-0 flex-row flex-nowrap">
                <div class="nav flex-sm-column flex-row">
                    <a class="navbar-brand" href="/">
                        <h1><img src="/static/logo.svg" width="75" height="75" alt="tunes.io logo">&nbsp;tunes.io</h1>
                    </a>
                    <div class="nav flex-sm-column nav-pills" id="nav-btn-list" role="tablist"
                        aria-orientation="vertical">
                        <a class="nav-link navbar-item active" id="nav-btn-home" data-toggle="pill" href="#home"
                            aria-selected="true" aria-controls="home" role="tab">
                            <img src="/static/home-fill.svg">&nbsp;Home
                        </a>
                        <a class="nav-link navbar-item" id="nav-btn-profile" data-toggle="pill" href="#profile"
                            aria-selected="false" aria-controls="profile" role="tab">
                            <img src="/static/person.svg">&nbsp;Profile
                        </a>
                        <a class="nav-link navbar-item" id="nav-btn-settings" data-toggle="pill" href="#settings"
                            aria-selected="false" aria-controls="settings" role="tab">
                            <img src="/static/gear.svg">&nbsp;Settings
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col py-2">
            <div class="tab-content" id="page-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home">
                    <h2>Home Content</h2>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile">
                    <h2>Profile Content</h2>
                </div>
                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings">
                    <h2>Settings Content</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}