{% extends "base.html" %}
{% block content %}
{% include "newpost.html" %}

{% set home_active = "false" %}
{% set home_icon = "/static/home.svg" %}

{% set profile_active = "false" %}
{% set profile_icon = "/static/person.svg" %}

{% set settings_active = "false" %}
{% set settings_icon = "/static/gear.svg" %}

{% if active == "home" %}
{% set home_active = "true" %}
{% set home_icon = "/static/home-fill.svg" %}
{% elif active == "profile" %}
{% set profile_active = "true" %}
{% set profile_icon = "/static/person-fill.svg" %}
{% else %}
{% set settings_active = "true" %}
{% set settings_icon = "/static/gear-fill.svg" %}
{% endif %}
<div class="container-fluid">
    <div class="row full-length">
        <div class="col-sm-auto max-height-nav-sm full-width-sm centre-sm">
            <nav class="navbar navbar-light navbar-sticky navbar-expand-sm px-0 flex-row">
                <div class="nav flex-column">
                    {% include "brand.html" %}
                    <div class="nav d-sm-inline-block d-sm-flex flex-sm-column nav-pills" id="nav-btn-list"
                        role="tablist" aria-orientation="vertical" aria-label="Navigaton Panel">

                        <a class="nav-link navbar-item" id="nav-btn-home" data-toggle="tooltip"
                            title="View the main feed" href="/" aria-selected="{{ home_active }}" role="tab">
                            <img src="{{ home_icon }}" alt="Home Icon">&nbsp;<span
                                class="d-none d-sm-inline-block">Home</span>
                        </a>
                        <a class="nav-link navbar-item" data-toggle="tooltip" title="View your profile"
                            id="nav-btn-profile" href="/profile?user={{ user.username }}"
                            aria-selected="{{ profile_active }}" role="tab">
                            <img src="{{ profile_icon }}" alt="Profile Icon">&nbsp;<span
                                class="d-none d-sm-inline-block">Profile</span>
                        </a>
                        <a class="nav-link navbar-item" id="nav-btn-settings" data-toggle="tooltip"
                            title="Change account settings." href="/settings" aria-selected="{{ settings_active }}"
                            role="tab">
                            <img src="{{ settings_icon }}" alt="Settings Icon">&nbsp;<span
                                class="d-none d-sm-inline-block">Settings</span>
                        </a>
                        <button class="btn newpost-button" id="nav-btn-newpost" data-toggle="modal"
                            data-target="#new-post" aria-controls="new-post" role="button" aria-label="New Post Button">
                            <span data-toggle="tooltip" title="Add a new post">
                                <img src="/static/plus-circle.svg" alt="New Post Icon">
                                <span class="d-none d-sm-inline-block">
                                    &nbsp;New Post
                                </span>
                            </span>
                        </button>
                        <button type="button" class="btn logout-button" data-toggle="tooltip"
                            title="Logout from tunes.io" onclick="location.href='/logout'" role="button">
                            <img src="/static/logout.svg" alt="Logout Icon">&nbsp;<span
                                class="d-none d-sm-inline-block">Logout</span>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col py-2 content-margin border-left">
            <div class="container">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}