{% set active = "profile" %}
{% extends "navigation.html" %}
{% block page_content %}
    <div class="card profile-card justify-content-center">
        <div class="card-header">
            <h2>Profile</h2>
        </div>
        <div class="card-body">
            <div class="d-flex">
                <img class="card-img img-thumbnail rounded-circle profile-pfp" src="/static/person.svg" alt="Profile Picture">
                <div class="d-block">
                    {% if user.name %}
                        <h3>{{ user.name }}</h3>
                        <span class="align-middle">@{{ user.username }}</span>
                    {% else %}
                        <h3>@{{ user.username}}</h3>
                        {% if is_current_user %}
                        <span class="align-middle"><a href="/settings">Add a name here!</a></span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div>
                <p>
                    <strong>Followers</strong>
                    <span id="follow-count">
                        {{ user.followers.count() }}
                    </span>
                    <strong>Following</strong> {{ user.following|length }}
                </p>
                <div>
                    {% if not is_current_user %}
                        {% include "follow_button.html" %}
                    {% endif %}
                </div>
            </div>
            <div>
                <p>
                    {% if user.bio %}
                        {{ user.bio }}
                    {% else %}
                        {% if is_current_user %}
                            No bio yet! <a href="/settings">Why not add one!</a>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="card-footer">
            <h3>Posts</h3>
            {% if posts %}
                {% for post in posts %}
                    {% include "feed.html" %}
                {% endfor %}
            {% else %}
                <span>Nothing to see here! Try posting something!</span>
            {% endif %}
        </div>
    </div>
{% endblock %}