{% set active = "settings" %}
{% extends "navigation.html" %}
{% block page_content %}
    <div class="card profile-card justify-content-center">
        <div class="card-header">
            <h2>Settings</h2>
        </div>
        <div class="card-body">
            <form action="/settings", method="POST", name="Settings Form">
                {{ settings_form.hidden_tag() }}
                <p>
                    {{ settings_form.username.label() }}
                    {{ settings_form.username(class='form-control', data_toggle='tooltip', title='Username cannot be changed following account creation.')}}
                </p>
                <p>
                    {{ settings_form.name.label() }}
                    {{ settings_form.name(class='form-control', data_toggle='tooltip', title='Set a display name for your account.')}}
                    <span class="invalid-feedback" id="title-error"></span>
                </p>
                <p>
                    {{ settings_form.password.label() }}
                    {{ settings_form.password(class='form-control')}}
                    <span class="invalid-feedback" id="title-error"></span>
                </p>
                <p>
                    {{ settings_form.confirmpassword.label() }}
                    {{ settings_form.confirmpassword(class='form-control')}}
                    <span class="invalid-feedback" id="title-error"></span>
                </p>
                <p>
                    {{ settings_form.bio.label() }}
                    {{ settings_form.bio(class='form-control')}}
                    <span class="invalid-feedback" id="title-error"></span>
                </p>
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary">
                        Save Changes
                    </button>
                </div>
                {% if error_message %}
                    <p>{{ error_message }}</p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}